# Basura / Mabigat na files
node_modules/
dist/
dist-test/

# System Logs
*.log
tunnel.log
server.log

# Private Data (PROTECTED - DO NOT PUSH)
backend/data.json
backend/data-test.json
backend/dev_accounts.json
backend/server_test.log
backend/server_prod.log
backend/tunnel.log
*.json.bak

# Binaries (Portable tools)
DEV_TOOLS/

# OS files
.DS_Store
Thumbs.db
